body {
    background-color: #F1F1F1;
    font-family: 'Roboto',sans-serif !important;
    padding-bottom: 50px;
}

/* Filter form */
#form-container > div {
    position:relative;
    float:left;
}

#form-container label{
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

#basePeriod{
    margin-top: 28px;
}

#basePeriod-container label:nth-child(3){
    margin-top: 20px;
}

/*Modular filter form*/
.fx-modular-fitler-form {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fx-modular-fitler-form li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    margin: 5px;
    padding: 5px;
    height: 50px;
}
.fx-modular-fitler-form span {
    cursor: move;
}

li.highlight {
    background: #FEE25F;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}

/* Isotope */
.fenix-result{
    width: 100%;
    background-color: white;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;

}

.fx_result_description_title {
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
}

.fx_result_description_source {
    display: inline;
    color: #999999;
}

.fx_result_description_source:before {
    content: "-";
}

.fx_result_description_geograficalarea {

}

.fx_result_description_baseperiod {
    font-style: italic;
    font-size: 10px;
}

/* JQwidget overrides*/
.jqx-rc-all {
    border-radius: 0;

}

/* Page Style */
.filter-background {
    background-color: #FFF;
    margin: 15px 0 15px 0;
}

.catalog-filter {
    border-radius: 0;
    border:0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: #737373;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 0 18px;
    min-width: 20px;
    overflow: hidden;
    padding: 13px 0 10px;
    text-overflow: ellipsis;
    transition: border-color 0.218s ease 0s;
    vertical-align: top;
    white-space: nowrap;
}

.catalog-filter-active {
    border-bottom: 2px solid #AFAFAF !important;
    background-color: #EBEBEB;
    color: #333333;
}

.fx-footer-sx, .fx-footer-dx {
    font-family: 'Roboto',sans-serif !important;
    font-size: 12px;
    font-weight: normal;
}
.fx-footer-dx {
    position: absolute;
    right: 0;
    top: 0;
}

.fx-footer {
    font-family: 'Roboto',sans-serif !important;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}