#overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8)
}

#overlay * {
    opacity: 0;
}

.closeOverlay{
    position: absolute;
    top: 0;
    right: 0;
}

.overlay-content{
    background-color: white;
    height: 100%;
}

.listContainer{
    background-color: white;
}
