body {
    background-color: #F1F1F1;
    font-family: 'Roboto',sans-serif !important;
}

/* Packery */

.fx-catalog-form-module{
    width: 50%;
    background-color: white;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    /*margin-bottom: 20px;*/
    min-height: 20px;
/*    padding: 19px;*/
}

.fx-catalog-form-module.fit{
    width: 100%;
}


.fx_result_description_title {
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
}

.fx_result_description_source {
    display: inline;
    color: #999999;
}

.fx_result_description_source:before {
    content: "-";
}

.fx_result_description_geograficalarea {

}

.fx_result_description_baseperiod {
    font-style: italic;
    font-size: 10px;
}
